filmoteca {
    background-image: url(fondo2.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    margin-right:10px;
}

inicio{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 200px;
}

peliculas{
    color: blue;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-right:10px;
    display:contents;
}

titulo {
    display: block;
    color: rgb(255, 0, 0);
    margin: 20px;
    margin-left:600px;  
    font-size: 25px; 
    margin-top: 40;
}
estreno, duracion{
    display: block;
    color: rgb(251, 255, 0);
    margin-left:600px;
    margin-top: 40px;
    font-size: 25px;
}
director{
    display: block;
    color: rgb(51, 255, 0);
    margin-left:600px;
    margin-top: 40px;
    font-size: 25px;
}

#pelicula1{
    position: relative;
    background-color: white;
}

portada[imagen="1"]{
    display: block;
    background-image: url(pelicula1.jpg);
    width: 190px;
    height: 281px;
    margin-top: 50px;
    margin-left: 300px;
    margin-bottom: -275px;

}
#pelicula2{
    position: relative;
    background-color: white;
}

portada[imagen="2"]{
    display: block;
    background-image: url(pelicula2.jpg);
    width: 190px;
    height: 269px;
    margin-top: 100px;
    margin-left: 300px;
    margin-bottom: -275px;

}

#pelicula3{
    position: relative;
    background-color: white;
}

portada[imagen="3"]{
    display: block;
    background-image: url(pelicula3.jpg);
    width: 190px;
    height: 285px;
    margin-left: 1375px;
    margin-bottom: 300px;
    margin-top:-605px;

}

#pelicula4{
    position: relative;
    background-color: white;
}

portada[imagen="4"]{
    display: block;
    background-image: url(pelicula4.jpg);
    width: 190px;
    height: 271px;
    margin-left: 1375px;
    margin-bottom: 300px;
    margin-top:100px;
}
#tit{
    margin-top: -555px;
    margin-left: 1700px;
}
#est{
    margin-left: 1700px;
}
#dur{
    margin-left: 1700px;
}
#dir{
    margin-left: 1700px;
}
#tit2{
    margin-top: -550px;
    margin-left: 1700px;
}
#est2 {
    margin-left: 1700px;
}
#dur2{
    margin-left: 1700px;
}
#dir2{
    margin-left: 1700px;
}